body {
    background-color:  #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-pro-vanilla {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
    background-color: f9f7fe;
    border: none;
    border-radius: 6px;
    max-width: 80%;
    padding: 15px 20px;
    font-size: 16px;
}