
 {
  box-sizing: border-box;
}

body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #885df1;
}


.weather-pro-vanilla {
  background: white;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(65, 50, 100, 0.1);
}


header {
  border-bottom: 1px solid #f0ecfc;
  padding-bottom: 25px;
}


.search-form {
  display: flex;
  gap: 10px;
}

.search-form-input {
  flex: 1;
  background-color: #f3effd;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  padding: 16px 22px;
}

.search-form-button {
  background: #885df1;
  border: none;
  padding: 16px 32px;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  transition: 0.2s;
}

.search-form-button:hover {
  background: #7448d4;
  cursor: pointer;
}


main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


